.login {
  color: #fff;
}
.card-form {
  max-width: 377px !important;
  padding-bottom: 0 !important;
} 

.cadastrar {
  font-size: 0.7rem;
}

.cadastrar > p > a {
  color: #0067b8;
}

.card-border {
  border-radius: 5px !important;
}

.page {
  
  background-color: rgba(255, 218, 106, 1);
}
