@media (max-width: 989px) {
    .user,
    .welcome {
      display: none;
    }
    .form-inline {
        display: block;
    }
  }
  
  @media (min-width: 989px) {
    .desktop {
      display: block;
    }
    .welcome {
      color: white;
      font-size: 0.75rem;
    }
    .user {
      color: rgba(255, 255, 255, 0.65);
      font-size: 0.6rem;
    }
  }

  #efeito {
    opacity: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, rgb(255, 255, 255) 19%);
  }