.edit {
  color: #c2c2c2ec;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

th {
  padding: 5px;
}

.card-border{
  border-radius: 5px !important;
}

.w-auto {
  width: 100% !important;
}

.page {
  height: 100vh;
  background-color: rgba(255, 218, 106, 1);
}