body {
    background: rgba(255, 218, 106, 1);
    width: 100%;
    height: 100%;
}

.oi {
    top: 0px;
}

.desktop {
    display: table-cell;
}

.mobile {
    display: none;
}

@media(max-width: 480px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: table-cell;
    }
}