.oi {
  top: 0px;
}

.desktop {
  display: table-cell;
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: table-cell;
  }
}

.card-border {
  border-radius: 5px !important;
}

.page {
  height: 100vh;
  background-color: rgba(255, 218, 106, 1);
}
