body {
  font-family: Oswald;
  margin: 0;
  background-color: rgba(255, 218, 106, 1);
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

a {
  color: #fafafa;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #adadad;
  text-decoration: none;
  background-color: transparent;
}

a:active {
  color: #e2e2e2;
  text-decoration: none;
  background-color: transparent;
}

input {
  border: 1px solid rgb(185, 185, 185) !important;
  border-radius: 2.5px;
}

textarea:focus,
input:focus,
select:focus {
  outline-color: rgb(190, 190, 190) !important;
  border-color: #e2e2e2;
}